# Riders Folders
.idea

# Build Folders
TFT-Friendly.Back.Api/bin
TFT-Friendly.Back.Api/obj

TFT-Friendly.Back.Domain/bin
TFT-Friendly.Back.Domain/obj

TFT-Friendly.Back.Infrastructure/bin
TFT-Friendly.Back.Infrastructure/obj
